html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.imageContainer {
    border-radius: 30px;
    width: 10%;
    margin: 20px;
    overflow: hidden;
    transition: width 0.5s;
    transition-timing-function: ease;
}

.imageContainer.selected {
    width: 60%;
    transition: width 0.5s;
    transition-timing-function: ease;
}

img {
    display: flex;
    flex: 1;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
